DB_NAME=#here goes the database name
DB_USER=#here goes the database user name
DB_USER_PASS=#here goes the database user password
DB_ROOT_PASS=#here goes the database root password
DOMAIN_NAME=#here goes the domain name (login.42.fr)
WP_USER=#here goes the wordpress user name
WP_USER_PASS=#here goes the wordpress user password
WP_ADMIN=#here goes the wordpress admin name
WP_ADMIN_PASS=#here goes the wordpress admin password
